@{
   
}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="text-center">
<form method="post">
<input type= "number" name="id"><br><br>
<input class="btn btn-primary" type="submit" value="Do you want to delete">

</form>
</div>