@using BOL;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Student ID";
     List<Students> std=(List<Students>)this.ViewData["Sfamily"];
}
<div>
<h1>Welcome</h1>
</div>
  
  
   
    

  


