@using BOL;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Student Details";
     List<Students> std=(List<Students>)this.ViewData["Mfamily"];
}


  @{
    <h1 align="Center">StudentQualifications</h1>
    foreach(Students item in std)
    {
          <div align="Center">
        <table border="2px" style="border: 2px solid blue; border-left: 3px solid blue; border-right: 3px solid blue;">
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 8px; border: 1px solid blue;">ID</th>
                <th style="padding: 8px; border: 1px solid blue;">name</th>
                <th style="padding: 8px; border: 1px solid blue;">College</th>
                <th style="padding: 8px; border: 1px solid blue;">University</th>
            </tr>
            <tr>
                <td style="padding: 8px; border: 1px solid blue;">@item.ID </td>
                <td style="padding: 8px; border: 1px solid blue;">@item.name </td>
                <td style="padding: 8px; border: 1px solid blue;">@item.college </td>
                <td style="padding: 8px; border: 1px solid blue;">@item.university</td>
            </tr>
        </table>
        </div>
    }

  }


