@using BOL;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Student Page";
     List<Students> std=(List<Students>)this.ViewData["Sfamily"];
}


  
    <h1 align="Center">Students</h1>
    
        <html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Edit Details</th>
         <th>Delete Details</th>
      </tr>
    </thead>
  
  @{
    foreach(Students p in std)
    { 
    <tbody>
      <tr>
        <td>@p.ID</td>
        <td>@p.namefirst</td>
        <td>@p.namelast</td>
        <td><a href="./Edit">Edit</a></td>
        <td><a href="./Delete/@(p.ID)">Delete</a></td>
        

      </tr>
      
    </tbody>
    
  
    }
      
    }

</table>
</div>
    
</body>
</html>


